<div class="container mt-4">
  <div class="row">
    <div class="col-lg-12">
      <a href="http://dev-hobby.pl">
        <img src="../../../assets/banerPoziom.PNG" alt="miejsce na baner reklamowy" class="card-img-top">
      </a>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">

    <div class="col-lg-2 col-md-4 col-sm-6">
        <a href="http://g-way.pl">
          <img src="../../../assets/banerPion.PNG" alt="miejsce na baner reklamowy" class="card-img-top">
        </a>
        <a href="http://g-way.pl">
          <img src="../../../assets/banerPion.PNG" alt="miejsce na baner reklamowy" class="card-img-top">
        </a>
        <a href="http://g-way.pl">
          <img src="../../../assets/banerPion.PNG" alt="miejsce na baner reklamowy" class="card-img-top">
        </a>
        <a href="http://g-way.pl">
          <img src="../../../assets/banerPion.PNG" alt="miejsce na baner reklamowy" class="card-img-top">
        </a>
    </div>

    <div class="col-lg-10 col-md-8 col-sm-6">
      <div class="row">
        <div *ngFor="let user of users" class="col-lg-2 col-md-4 col-sm-6">
          <app-user-card [user]='user'></app-user-card>
        </div>
      </div>
      <pagination [boundaryLinks]="true" 
                  [totalItems]="pagination.totalItems"
                  [itemsPerPage]="pagination.itemsPerPage"
                  [(ngModel)]="pagination.currentPage"
                  (pageChanged)="pageChanged($event)"
                  previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
    </div>
  </div>
</div>